{{#extends 'base'}}

    {{#block 'content'}}
        <div class="p-4">
            <h1 class="display-3 text-center my-5">Genres</h1>
            <a href="genres/create" class="btn btn-primary">Add Genre</a>

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col"></th>
                        </tr>

                    </thead>
                    <tbody class="">
                        {{#each genres}}
                            <tr class="align-middle">
                                <th scope="row">
                                    {{this.id}}
                                </th>
                                <td>{{this.name}}</td>
                                <td>
                                    <a href="/genres/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/block}}

{{/extends}}