 .fade {
     opacity: 0;
     -webkit-transition: opacity 1s ease;
     -moz-transition: opacity 1s ease;
     -o-transition: opacity 1s ease;
     transition: opacity 1s ease;
 }

 .remove {
     display: none;
 }

 /* .absolute {
     position: fixed;
     float: right;
     width: fit-content;
     max-width: 120px;
     font-size: 1rem;
 } */



 .form {
     width: 50%;
     margin: 0 auto
 }

 @media only screen and (max-width: 600px) {
     .form {
         width: 100% !important;
     }
 }

 @media only screen and (max-width: 1024px) {
     .form {
         width: 80% !important;
     }
 }

 .btn-color {
     background-color: rgb(114, 245, 250) !important;
 }

 /* style navbar active links */
 .active {
     color: rgb(9, 177, 199) !important;
 }

 .filter-background {
     background-color: rgb(238, 237, 237);
 }