{{#extends "base"}}
{{#block "content"}}
<h1 class="m-5 display-3 text-center">Add Tag</h1>
<form method="POST" class="form">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      {{{form}}}
      <div class="mt-4">
       <input type="submit" value="Add Tag" class="btn btn-primary" />
       
       
   <a href="/tags" class="btn btn-danger ms-2">Cancel</a>
      </div>
</form>

{{/block}}
{{/extends}}