{{#extends "base"}}
  {{#block "content"}}
    <div class="text-center ">
      <div class="display-3 my-5">
        <h1>My Account</h1>
      </div>
      <div class="card" style="width: 70%; margin: 0 auto">
        <div class="card-body">
          <p class="card-text "><span class="fw-bold">Username:</span> {{currentUser.username}}</p>
          <p class="card-text "><span class="fw-bold"> Role:</span> {{currentUser.roles.name}}</p>
          <p class="card-text "><span class="fw-bold">Email: </span> {{currentUser.email}}</p>
          <a href="/users/{{currentUser.id}}/account/update" class="btn btn-primary mt-3">Update Details</a>
        </div>
      </div>
    </div>

  {{/block}}
{{/extends}}