{{#extends 'base'}}

    {{#block 'content'}}
        <h1 class="text-center my-5">Update Account Details: {{user.username}}</h1>
        <form method="POST" class="form fw-bold">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            {{{form}}}
            <div class="mt-4">
                <input type="submit" value="Update Account Details" class="btn btn-primary " />
                   <a href="/users" class="btn btn-danger ms-2">Cancel</a>
            </div>
            
        </form>
    {{/block}} 
{{/extends}}