{{#extends "base"}}

  {{#block "content"}}
    <div class="p-4">
      <h1 class="display-3 text-center my-5">Authors</h1>

      <div class="d-flex flex-column flex-md-row justify-content-between ">
        <form class="d-flex justify-content-end mb-0 align-self-end" method="GET">
          {{{form}}}
          <input type="submit" class="btn btn-primary ms-md-3 align-self-end" value="Search" />
        </form>
        <a href="authors/create" class="btn btn-primary mt-sm-4">Add Author</a>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
          </tr>

        </thead>
        <tbody class="">
          {{#each authors}}
            <tr class="align-middle">
              <th scope="row">
                {{this.id}}
              </th>
              <td>{{this.name}}</td>
              <td>
                <a href="/authors/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    </div>
  {{/block}}

{{/extends}}