{{#extends 'base'}}

    {{#block 'content'}}
        <h1>Authors</h1>
        <a href="authors/create" class="btn btn-primary">Add Author</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th></th>
                </tr>

            </thead>
            <tbody class="">
                {{#each authors}}
                    <tr class="align-middle">
                        <td>
                            {{this.id}}
                        </td>
                        <td>{{this.name}}</td>
                        <td>
                            <a href="/authors/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    {{/block}}

{{/extends}}