{{#extends 'base'}}

    {{#block 'content'}}
        <div class="p-4">
            <h1 class="display-3 text-center my-5">Publishers</h1>
            <a href="publishers/create" class="btn btn-primary">Add Publisher</a>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th></th>
                        </tr>

                    </thead>
                    <tbody class="">
                        {{#each publishers}}
                            <tr class="align-middle">
                                <th>
                                    {{this.id}}
                                </th>
                                <td>{{this.name}}</td>
                                <td>
                                    <a href="/publishers/{{this.id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    {{/block}}

{{/extends}}